.button  {
    color: black;
    padding-left: 20px;
}

.button :hover {
    color: rgba(0,128,128,1);
    cursor: pointer;
}
.button1{
    padding: 50;
}
/* .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  } */